/*.card-columns {*/

/*@include media-breakpoint-only(lg) {*/
    /*column-count: 2;*/
/*}*/
/*@include media-breakpoint-only(xl) {*/
    /*column-count: 2;*/
/*}*/
/*}*/

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}
