/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	background:	#ffffff;
	font-family:open sans;
}

.main_wrapper{
width:1000px;
height:auto;
margin:auto;
background:#7bbaef;
font-family:open sans;	
}

#header{
width:1000px;
height:200px;
background-image: url(../images/db.png);
border-bottom: 5px groove #f7f2f2;
font-family:open sans;	
}

#left{
width:795px;
height:595px;
background-image: url(../images/work2.gif);
float:left;
font-family:open sans;
}

#right{
width:200px;
height:800px;
float:right;
border-left: 5px groove #f7f2f2;
background:	#7bbaef;
font-family:open sans;
}

#right a{
text-decoration:none;
color:black;
text-align:left;
font-size:20px;
font-family:open sans;
padding:6px;
margin:2px;
display:block;	
}

#right a:hover{text-decoration:normal; font-weight:bolder; color:orange;}