/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	background:	white;
}

.main_wrapper{
width:1000px;
height:auto;
margin:auto;
background:#DADDDE;	
}

.header_wrapper{
width:1000px;
height:150px;
margin:auto;		
}

#shop{float:left;}
#banner{float:right;}

.menubar{
width:1000px;
height:50px;
background:#131B31;
color:white;
}

#menu{
padding:0;
margin:0;
line-height:45px;
float:left;	
}

#menu li{
list-style:none;
display:inline;
}

#menu a{
text-decoration:none;
color:white;
padding:8px;
margin:5px;
font-size:18px;
font-family: open sans;
}

#menu a:hover{color:orange; font-weight:bolder;}

#form{float:right; padding-right:10px; line-height:45px;}

.content_wrapper{
width:1000px;
margin:auto;
background:#FFFAF0;
}

#content_area{
width:800px;
float:left;
background:white;
font-family:open sans;
}

#sidebar{
width:200px;
float:right;
background:		#DADDDE;	
}

#sidebar_title{
background:#cfd0d1;
color:black;
font-size:22px;
font-family:open sans;
padding:10px;
text-align:center;	
}

#cats{
	text-align:left;
}

#cats li{list-style:none;margin:5px;}

#cats a{color:black; padding 8px; margin:5px; text-align:left; font-size:17px; font-family: open sans; text-decoration:none;}

#cats a:hover{color:#19bdaa; font-weight:bolder;}

#cats img {border:2px solid white; padding:4px;}

#products_box{
width:780px;
text-align:center;
margin-left:30px;
margin-bottom:10px;
}

#single_product{float:left; margin-left:40px; padding:10px;}

#shopping_cart{width:800px; height:50px; background:#DADDDE;}

#footer{
width:1000px;
height:100px;
float:right;
background:#DADDDE;
clear:both;
font-family:open sans;
}